.header {
    background-color: #f0f0f0;
    padding: 10px 20px;
  }
  
  .nav {
   color: pink;
  }
  
  .link {
    margin-right: 10px;
  }
  
  .footer {
    background-color: #e0e0e0;
    padding: 10px 20px;
    text-align: center;
  }