.header {
    background-color: black;
    padding: 10px 20px;
  }
  
  .nav {
    display: flex;
    justify-content: flex-end;
    margin: 20px;
  }
  
  .link {
    margin-right: 60px; 
    color: pink;
    text-decoration: none;
  }
  
  .footer {
    background-color: black;
    padding: 10px 20px;
    text-align: center;
  }