.h1Header{
  text-align: center;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  
  .itemContainer {
    border: 1px solid #dc8a8a;
    padding: 10px;
    text-align: center;
  }
  
  .image {
    object-fit: contain;
    width: 200px;
    height: 200px;
  }