.h1Header{
  text-align: center;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  .itemContainer {
    background-color: #f8f8f8; 
    border: 1px solid #eee;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.2s ease-in-out;
  }
  
  .itemContainer:hover {
    transform: translateY(-5px); 
  }
  
  .itemContainer h2 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .itemContainer p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 5px;
  }
  
  .itemContainer img {
    border-radius: 4px;
    margin-bottom: 10px;
    object-fit: contain;
  }